.card {
  width: 300px;
  padding-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 300px;
  width: 370px;
}
.title {
  color: #060606;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
}

.video-footer {
  padding-top: 10px;
}

.subtitle {
  font-size: 14px;
  color: #606060;
}

.m-auto{
  margin: auto;
}