.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}
.css-1wf8b0h-MuiTabs-flexContainer {
  background: #000;
  color: white;
}
.css-h0q0iv-MuiButtonBase-root-MuiTab-root {
  color: #ffffff !important;
}
