/* .eachInput {
  height: 70px;
  width: 70px !important;
  border-radius: 8px;
} */

.otptitle {
  font-size: 18px;
  font-family: "Roboto";
  /* font-weight: 500; */
  /* color: #060606; */
  margin-bottom: 10px;
}

.resendbutton {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 6px !important;
  background-color: transparent !important;
  font-size: 14px !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border: 2px solid #bb8a33 !important;
}

.mainContainer {
  /* background-color: rgb(113, 113, 236); */
  height: 100vh;
  /* padding: 20px; */
  margin: 0px;
}

.signinBtn {
  width: 100%;
  border-radius: 6px !important;
  background-color: transparent !important;
  font-size: 14px !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border: 2px solid #bb8a33 !important;
}

.bg-image{
  background-image: url("./section.jpg");
  background-size: cover;
}

.c-center{
  justify-content: center;
}


