.form-popup{
    padding: 50px 60px;
    background-color: #000000;
    border: 1px solid #222028;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 450px;
}
.form-logo{
    margin-bottom: 50px;
    display: block;transition: 0.4s;
    transition-property: color, background-color, border-color, opacity;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.form-logo img{
    width: 140px;
    vertical-align: middle;
    border-style: none;
}
.form-field{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.form-in{
    font-size: 16px;
    width: 100%;
    color: #fff;
    border-radius: 6px;
    padding: 0 20px;
    background-color: #131314;
    border: 2px solid transparent;
    height: 46px;
    position: relative;

}
.form-check{
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    
}

/* .check{
    position: absolute;
    left: -9999px;    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 0;
    appearance: none;
    box-shadow: none;
    transition: 0.4s;
} */

.form-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100%;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #bb8a33;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.form-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;

}
.fb-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: calc(33% - 10px);
    border-radius: 6px;
    color: #fff;
    background-color: #3b5999;
    transition: 0.4s;
    transition-property: color, background-color, border-color, opacity;
}
.form-txt{
    margin-top: 15px;
    font-size: 14px;
    color: #fff;

}
.from-signu{
    position: relative;
    color: #bb8a33;
    transition: 0.4s;
    transition-property: color, background-color, border-color, opacity;
    text-decoration: none;
    background-color: transparent;
}