.sidebarmenu {
  width: 280px;
  height: 100vh;
  /* background-color: rgb(241, 245, 249); */
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: space-between;
}

.sidebaritem {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  color: #ffffff;
  padding: 12px;
  cursor: pointer;
}
.sidebaritem:hover {
  border-bottom: #bb8a33;
  color: #bb8a33;
}
.contact-us {
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
}
.footer-text {
  font-size: 14px;
  color: #ffffff;
}
.contactus {
  font-size: 18px !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500 !important;
  color: #ffffff;
  padding-left: 12px;
}

.selected {
  color: #bb8a33;
}
.link {
  text-decoration: none;
  font-size: 18px !important;
}
.social-icon:hover {
  color: #bb8a33;
}
