.sidebarmenu {
  width: 280px;
  height: 90vh;
  background-color: rgb(241, 245, 249);
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: space-between;
}

.sidebaritem {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  color: #231f20;
  padding: 12px;
  cursor: pointer;
}
.sidebaritem:hover {
  background-color: rgb(208, 216, 226);
}
.contact-us {
  font-size: 24px;
  font-weight: bold;
}
.footer-text {
  font-size: 14px;
  font-family: "Roboto";
  color: #606060;
}
.contactus {
  font-size: 18px !important;
  font-family: "Roboto" !important;
  font-weight: 500 !important;
  padding-left: 12px;
}

.selected {
  background-color: rgb(203, 213, 225);
}
.link {
  text-decoration: none;
  font-size: 18px !important;
}
